@import '../../mixins';

.section-container__hero{
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'description illustration';

    @include small{
        grid-template-columns: 1fr;
        grid-template-areas: 
            'illustration'
            'description'
        ;
    }

    & > :nth-child(1){
        grid-area: description;
    }
    & > :nth-child(2){
        grid-area: illustration;
    }
}

.gallery-grid{
    & > :nth-child(1){
        grid-area: one;
    }
    & > :nth-child(2){
        grid-area: two;
    }
    & > :nth-child(3){
        grid-area: three;
    }
    & > :nth-child(4){
        grid-area: four;
    }

    grid-auto-columns: 1fr;
    grid-auto-rows: 300px;

    grid-template-areas: 
        'one one one one'
        'two two three three'
        'two two four four'
    ;

    @include small{
        grid-template-columns: 1fr;
        grid-auto-rows: 250px;
        grid-template-areas: 
            'one'
            'two'
            'three'
            'four'
        ;
    }

    & > div{
        img{
            width: 100%;
            height: 100%;
        }
    }
}