@import '../../mixins';

.section-container__contact{
    grid-auto-columns: 1fr 1fr;
    grid-auto-rows: 1fr;

    grid-template-areas: 'one two';

    @include md {
        grid-auto-rows: max-content;
        grid-template-areas: 
            'one'
            'two'
        ;
     }

    &:first-child{
        grid-area: one;
    }

    &:last-child{
        grid-area: two;
    }

    .contact-column{
        display: grid;
        grid-template-rows: subgrid;
        grid-row: span 99;
    }

    .tab_header{
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 3rem;
    }
}