* {
  font-family: "Proxima soft", tahoma !important;
}

.form-field-container {
  padding: 0.125rem;
  isolation: isolate;
  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    clip-path: inset(200px 0);
    transition: clip-path 0.2s ease-in-out;
  }

  & > input,
  & > textarea {
    outline: none;
    font-weight: 500;
    width: 100%;
    shape-rendering: crispEdges;
  }

  &:focus-within,
  &:hover {
    &::before {
      clip-path: inset(0);
    }
  }
}

.field-icon {
  --height: 1.5rem;
  width: 4rem;
  height: var(--height);
  shape-rendering: geometricPrecision;
  object-fit: cover;
  position: absolute;
  margin-top: calc(var(--height) / 3);
  transition: opacity 0.3s;
  transition: z-index 0.5s;

  &.hide-toggle {
    z-index: 1;
    pointer-events: none;
    opacity: 0;
  }

  &.show-toggle {
    z-index: 2;
    opacity: 1;
  }
}

input[type="radio"],
input[type="checkbox"] {
  appearance: none;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  isolation: isolate;
  display: grid;
  padding: 3px;
  place-items: center;

  &::after {
    width: 100%;
    height: 100%;
    content: "";
    background-color: transparent;
    border-radius: inherit;
    transition: all 0.1s ease;
    z-index: -1;
  }
}

@keyframes infiniteHighlight {
  0% {
    scale: 0%;
    opacity: 0;
  }
  20% {
    opacity: 0.5;
  }
  40% {
    opacity: 0.75;
  }
  50% {
    scale: 100%;
  }
  60% {
    opacity: 0.9;
  }
  40% {
    opacity: 0.5;
  }
  100% {
    scale: 0%;
    opacity: 0;
  }
}

.tabs{
  position: relative;
}

.tabs > *{
  opacity: 0;
  visibility: hidden;
  translate: 0 20px;
  width: 100%;
  height: 100%;
  transition: all .6s ease;
  position: absolute;
  inset: 0;
}

.tabs > div.active{
  opacity: 1;
  visibility: visible;
  translate: 0;
}
