:root{
    --side-padding: clamp(2rem, 8vw ,10rem);
}

.stack{
    grid-template-areas: 'stack';
    & > *{
        grid-area: stack;
    }
}

.hash-span{
    height: 0.1px;
    width: 0.1px;
    display: block;
    visibility: hidden;
}

.before-mask::before{
    left: 0;
    top: 0;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
}

.after-mask::after{
    left: 0;
    top: 0;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
}

.section-container{
    padding-inline: var(--side-padding);
}

section{
    width: 100%;
}